.visie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visie .puntje {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1.1px solid #1CCA9B;
    opacity: 0.8;
}
